body {
  background: radial-gradient(circle, #1f3756, #141539);
  font-family: "Barlow Semi Condensed";
  text-transform: uppercase;
  margin: 0; }

.overflow {
  overflow: hidden; }

.background {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: #3b4363;
  opacity: 0.7; }

.modal {
  z-index: 1;
  padding: 1em;
  position: absolute;
  height: 400px;
  width: 350px;
  right: 35%;
  top: 10%;
  opacity: 1;
  background: #fff;
  border-radius: 10px; }
  .modal h2 {
    color: #3b4363; }
  .modal #close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer; }

.hidden {
  display: none; }

.score {
  border: 2px solid #606e85;
  width: 55%;
  margin: 2em auto 0;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1em; }
  .score__container {
    background: #fff;
    color: #2a46c0;
    border-radius: 10px;
    width: 20%;
    display: grid;
    justify-content: center; }
    .score__container .score__title {
      display: flex;
      align-items: center; }
    .score__container p {
      margin: 2px; }
    .score__container #score {
      color: #3b4363;
      margin: 0 auto;
      font-size: 3em;
      font-weight: 700; }

.game {
  background-image: url("../images/bg-pentagon.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 55vh;
  margin-top: 50px;
  margin-bottom: 20px; }

.scissor {
  border: 1em solid #ec9e0e;
  right: 45%;
  top: -10%; }

.paper {
  border: 1em solid #4865f4;
  right: 30%;
  top: 20%; }

.rock {
  border: 1em solid #dc2e4e;
  right: 37%;
  bottom: -13%; }

.spock {
  border: 1em solid #40b9ce;
  top: 20%;
  left: 30%; }

.lizard {
  border: 1em solid #834fe3;
  bottom: -13%;
  left: 37%; }

.container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute; }
  .container img {
    width: 50px;
    object-fit: scale-down; }

.rules {
  display: flex;
  justify-content: flex-end; }
  .rules__container {
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    width: 7em;
    margin: 10px 20px; }
    .rules__container p {
      font-weight: 600;
      margin: 10px; }

.play {
  height: 50vh;
  max-width: 900px;
  margin: 3em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .play h3 {
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    text-align: center; }
  .play h1 {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-align: center; }
  .play .button {
    display: flex;
    align-items: flex-start; }
  .play button {
    font-family: "Barlow Semi Condensed";
    border-radius: 5px;
    height: 2.5em;
    width: 10em;
    margin: 0px auto;
    background-color: #fff;
    border: none;
    cursor: pointer; }
  .play #resolve {
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  .play .container {
    margin: 3.3em auto;
    position: inherit;
    width: 120px;
    height: 120px;
    border-width: 22px; }
  .play .button__countainer {
    display: grid; }

@media (max-width: 1024px) {
  .scissor {
    right: 43%;
    top: -15%; }
  .paper {
    right: 25%;
    top: 23%; }
  .rock {
    right: 34%;
    bottom: -13%; }
  .lizard {
    bottom: -13%;
    left: 34%; }
  .spock {
    top: 23%;
    left: 25%; } }

@media (max-width: 768px) {
  .play {
    max-width: 600px; }
  .game {
    margin-top: 70px; }
  .scissor {
    right: 40%;
    top: -18%; }
  .paper {
    right: 20%;
    top: 20%; }
  .rock {
    right: 26%;
    bottom: -13%; }
  .lizard {
    bottom: -10%;
    left: 26%; }
  .spock {
    top: 20%;
    left: 20%; }
  .background {
    top: 0;
    left: 0; }
  .modal {
    right: 25%;
    top: 20%; } }

@media (max-width: 425px) {
  .score {
    width: 70%; }
    .score img {
      width: 80px; }
    .score__container {
      width: 30%; }
  .play {
    max-width: 600px; }
  .game {
    max-width: 350px;
    margin: 5em auto; }
  .container {
    width: 80px;
    height: 80px; }
    .container img {
      width: 40px; }
  .scissor {
    right: 40%;
    top: -18%; }
  .paper {
    right: 20%;
    top: 20%; }
  .rock {
    right: 26%;
    bottom: -13%; }
  .lizard {
    bottom: -10%;
    left: 26%; }
  .spock {
    top: 20%;
    left: 20%; }
  .background {
    top: 0;
    left: 0; }
  .modal {
    right: 25%;
    top: 20%; } }
