body {
  background: radial-gradient(circle, #1f3756, #141539);
  font-family: 'Barlow Semi Condensed'; }

.score {
  border: 2px solid #606e85;
  width: 55%;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1em; }
  .score__container {
    background: #fff;
    color: #2a46c0;
    border-radius: 10px;
    width: 20%;
    display: flex;
    justify-content: center; }
    .score__container #score {
      color: #3b4363; }

.game {
  background-image: url("../images/bg-pentagon.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 55vh;
  margin-top: 50px;
  margin-bottom: 20px; }
  .game .container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: absolute; }
    .game .container img {
      width: 50px;
      object-fit: scale-down; }
  .game .scissor {
    border: 1em solid #ec9e0e;
    right: 45%;
    top: -10%; }
  .game .paper {
    border: 1em solid #4865f4;
    right: 30%;
    top: 20%; }
  .game .rock {
    border: 1em solid #dc2e4e;
    right: 37%;
    bottom: -13%; }
  .game .spock {
    border: 1em solid #40b9ce;
    top: 20%;
    left: 30%; }
  .game .lizard {
    border: 1em solid #834fe3;
    bottom: -13%;
    left: 37%; }

.rules {
  display: flex;
  justify-content: end; }
  .rules__container {
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    width: 7em; }
    .rules__container p {
      font-weight: 600;
      margin: 10px; }
