body {
  background: radial-gradient(circle, #1f3756, #141539);
  font-family: "Barlow Semi Condensed"; }

.background {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background: #3b4363;
  opacity: 0.7; }

.modal {
  z-index: 1;
  padding: 1em;
  position: absolute;
  height: 400px;
  width: 350px;
  right: 35%;
  top: 10%;
  opacity: 1;
  background: #fff;
  border-radius: 10px; }
  .modal h2 {
    color: #3b4363; }
  .modal #close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer; }

.hidden {
  display: none; }

.score {
  border: 2px solid #606e85;
  width: 55%;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 1em; }
  .score__container {
    background: #fff;
    color: #2a46c0;
    border-radius: 10px;
    width: 20%;
    display: flex;
    justify-content: center; }
    .score__container #score {
      color: #3b4363; }

.game {
  background-image: url("../images/bg-pentagon.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 55vh;
  margin-top: 50px;
  margin-bottom: 20px; }
  .game .scissor {
    border: 1em solid #ec9e0e;
    right: 45%;
    top: -10%; }
  .game .paper {
    border: 1em solid #4865f4;
    right: 30%;
    top: 20%; }
  .game .rock {
    border: 1em solid #dc2e4e;
    right: 37%;
    bottom: -13%; }
  .game .spock {
    border: 1em solid #40b9ce;
    top: 20%;
    left: 30%; }
  .game .lizard {
    border: 1em solid #834fe3;
    bottom: -13%;
    left: 37%; }

.container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: absolute; }
  .container img {
    width: 50px;
    object-fit: scale-down; }

.rules {
  display: flex;
  justify-content: end; }
  .rules__container {
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    width: 7em; }
    .rules__container p {
      font-weight: 600;
      margin: 10px; }

.play {
  height: 55vh;
  margin: 3em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  .play h3 {
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center; }
  .play h1 {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-align: center; }
  .play button {
    font-family: "Barlow Semi Condensed";
    height: 2em;
    margin: 1em auto; }
  .play .container {
    margin: auto;
    position: inherit; }
