-var icons = ['icon-scissors.svg', 'icon-paper.svg', 'icon-rock.svg', 'icon-lizard.svg', 'icon-spock.svg']
-var alt = ['scissors', 'paper', 'rock', 'lizard', 'spock']

mixin icon(icons, alt)
    img(src="images/"+icons, alt=""+alt)

body#body
    div#background.hidden
    div#modal.hidden
        img#close(src="images/icon-close.svg", alt="")
        h2 RULES
        img(src="images/image-rules-bonus.svg", alt="")
    section.score 
        img(src="images/logo-bonus.svg", alt="Rock, paper, scissors, lizard, spock")
        div.score__container 
            div.score__title
                p SCORE
            div#score
    section.game#game
        article.scissor.container#scissor
            +icon(icons[0], alt[0])
        article.paper.container#paper
            +icon(icons[1], alt[1])
        article.rock.container#rock
            +icon(icons[2], alt[2])
        article.lizard.container#lizard
            +icon(icons[3], alt[3])
        article.spock.container#spock
            +icon(icons[4], alt[4])

    section.hidden#play
        div
            h3 You Picked 
            article#gamerPick
        article.button__countainer
            div#resolve 
            div.button
                button#button PLAY AGAIN
        div
            h3 The House Picked 
            article#housePick
    section.rules
        .rules__container#rules
            p RULES
    
       
script(src="index.js")

        
