-var icons = ['icon-scissors.svg', 'icon-paper.svg', 'icon-rock.svg', 'icon-lizard.svg', 'icon-spock.svg']

mixin icon(icons)
    img(src="images/"+icons, alt="")

body
    section.score 
        img(src="images/logo-bonus.svg", alt="Rock, paper, scissors, lizard, spock")
        div.score__container 
            p SCORE
            p#score
    section.game
        div.scissor
            +icon(icons[0])
        div.paper
            +icon(icons[1])
        div.rock
            +icon(icons[2])
        div.lizard
            +icon(icons[3])
        div.spock
            +icon(icons[4])
    section.rules
        .rules__container
            p RULES

        
