-var icons = ['icon-scissors.svg', 'icon-paper.svg', 'icon-rock.svg', 'icon-lizard.svg', 'icon-spock.svg']

mixin icon(icons)
    img(src="images/"+icons, alt="")

body
    section.score 
        img(src="images/logo-bonus.svg", alt="Rock, paper, scissors, lizard, spock")
        div.score__container 
            p SCORE
            p#score
    section.game
        article.scissor.container
            +icon(icons[0])
        article.paper.container
            +icon(icons[1])
        article.rock.container
            +icon(icons[2])
        article.lizard.container
            +icon(icons[3])
        article.spock.container
            +icon(icons[4])
    section.rules
        .rules__container
            p RULES

        
